* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weather_text {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
  font-size: 60px;
  color: #17b169;
}

@media only screen and (max-width: 582px) {
  .weather_text{
    font-size: 30px;
  }
}

@media only screen and (max-width: 446px){
  
}
